@import "./global.scss";

  /*primary color palette*/
body{
    background-color:#0C1115;
}
.container{
    background-color:#ffffff;
}
/*main image*/
.gamepage{
    width: 100%;
    height: 300px;
    filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
}
/*tittles & text*/
h1{
    font-family: eightBit;
    font-size: 75px;
}

h2,
h3,
h4 {
    font-family: eightBit;
    text-align: center;
    margin: 5%;
}
p{
    font-family: Poppins;
    text-align: center;
}
/*carousel*/
.characters{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.plataformas{
    text-align: center;
}

.caracteristicas img {
    float: right;
}

// footer

.footer {

    display: flex;
    flex-direction: column;
    justify-content: center;       
    font-size: 9px;
    color: $thirdly-color;
    opacity: 0.9;
    top: 5%;
    bottom: 0;
    width: 90vw;
    padding-left: 5%;

    .word {
        display: flex;
        justify-content: space-around;
        

        .words {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            img {
                width: 10px;
                height: 10px;
                // filter: invert(0.8) sepia(1) hue-rotate(10deg) saturate(40%);
            }
        }

        .imgsocials {
            display: flex;
            align-items: center;
            gap: 5%;
            // filter: invert(0.8) sepia(1) hue-rotate(10deg) saturate(40%);
            a:visited{
                color: $thirdly-color;
            }
        }
    }

    .copyright2 {
        display: flex;
        justify-content: center;
        
    }

}

@media (min-width:1200px) {

    .footer {

        font-size: 12px;
    }
}