
@import 'global';

.footer {

    display: flex;
    flex-direction: column;
    justify-content: center;    
    bottom: 0 !important;    
    font-size: 9px;
    color: $thirdly-color;
    opacity: 0.6;
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 99vw;

    .word {
        display: flex;
        justify-content: space-around;

        .words {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            img {
                width: 10px;
                height: 10px;
            }
        }

        .imgsocials {
            display: flex;
            align-items: center;
            gap: 5%;
        }
    }

    .copyright2 {
        display: flex;
        justify-content: center;
    }

}

@media (min-width:1200px) {

    .footer {

        font-size: 12px;
    }
}