$primary-color: #0C1115;
$secondary-color: #C42177;
$thirdly-color: #ffffff;
$forthly-color: #715BC2;;
$bold: #0C1115;


$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@font-face {
  font-family: eightBit;
  src: url(../media/fonts/EightBitDragon-anqx.ttf);
}

h3 {
  font-family: eightBit;
}
$font-bit:eighBit;

