// import of variables and coomon styles from global
@import "./global.scss";

/********************************
***      RECENTLY PLAYED      ***
********************************/

.recently-played{
  margin-top: 7vh;

  // also row
  .recently-played-row{

    //also col-md-4 
    .recently-played-item{
      font: 100% $font8bit;
      color: $carousel-text-color;

      .recently-played-img{
        width: fit-content;
      }
      // also card-img-overlay
      .recently-played-overlay{
        left:3%;
          .card-title{
            font-size: 1rem;
          }
          .card-text{
            font-size: 0.75rem;
          }
      }
    }
  }
}

/********************************
*****       CATEGORIES      *****
********************************/

.categories{
  margin-top: 5vh;
  font: 100% $font8bit;

  // collapsable lists when visible
  .collapse.dont-collapse-md {
    @include for-size(tablet-lg,up) {
      display: block;
      height: auto !important;
      visibility: visible;
    }
    // define-terms elements from definition list
    dt {
      margin-top: 2%;
      
      @include for-size(tablet-lg,down){
        text-align: center;
      }
      .categories-img{
        border-radius: .25rem;
        max-width: 100%;
      }
    }
    // define-description from definition list
    dd {
      margin-top: 2%;
      @include for-size(tablet-lg,down){
        text-align: center;
      }
    }
  }
}

// bootstrap cards edit avoiding conflicts
.card{
  flex-direction: inherit;
  border: 0px;
  .card-title{
    font-size: 1.25rem;
  }
  .card-text{
    font-size: 0.75rem;
  }
}
