@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap");
/* Element First Media Queries
========================================================= */
@font-face {
  font-family: eightBit;
  src: url(../media/fonts/EightBitDragon-anqx.ttf);
}
h3 {
  font-family: eightBit;
}

a {
  text-decoration: none;
  outline: none;
}

/* .carousel { */
  /* @include for-size(phone,down) {
    margin-left: 0; }
  @include for-size(tablet,down) {
    margin-right: 5%;

    .carousel-inner .carousel-item > div {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      font: 100% $font8bit;
      color: $carousel-text-color;

      .carousel-overlay{
        top: 75%;
      }
    }
    .carousel-item.active, .carousel-item-next, .carousel-item-prev {
      display: flex;
    }

    .carousel-item-end, .carousel-item-start {
      transform: translateX(0);
    }
  }

  @include for-size(tablet,up) {
    .carousel-inner {
      .carousel-item-end.active, .carousel-item-next {
        transform: translateX(25%);
      }

      .carousel-item-start.active, .carousel-item-prev {
        transform: translateX(-25%);
      }
    }
  } */
/* } */
@media (max-width: 767px) {
  .carousel .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
@media (max-width: 767px) {
  .carousel .carousel-item {
    margin-left: 3%;
  }
  .carousel .carousel-control-prev {
    left: 4%;
  }
  .carousel .carousel-control-next {
    right: 4%;
  }
}
@media (max-width: 576px) {
  .carousel .carousel-control-prev {
    left: 2%;
  }
  .carousel .carousel-control-next {
    right: 2%;
  }
}
.carousel .carousel-inner .carousel-item.active,
.carousel .carousel-inner .carousel-item-next,
.carousel .carousel-inner .carousel-item-prev {
  display: flex;
}
.carousel .carousel-item {
  font: 100% eightBit;
  color: #fff;
}
.carousel .carousel-item .grow {
  transition: all 0.2s ease-in-out;
  filter: initial;
}
.carousel .carousel-item .grow:hover {
  transform: scale(1.2);
  filter: saturate(300%);
}
.carousel .carousel-item .carousel-overlay {
  top: 65%;
}
@media (max-width: 992px) {
  .carousel .carousel-item .carousel-overlay {
    top: 50%;
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  .carousel .carousel-item .carousel-overlay {
    top: 70%;
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .carousel .carousel-inner .carousel-item-end.active,
.carousel .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel .carousel-inner .carousel-item-start.active,
.carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel .carousel-inner .carousel-item-end,
.carousel .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.recently-played {
  margin-top: 7vh;
}
.recently-played .recently-played-row .recently-played-item {
  font: 100% eightBit;
  color: #fff;
}
.recently-played .recently-played-row .recently-played-item .recently-played-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.recently-played .recently-played-row .recently-played-item .recently-played-overlay {
  left: 3%;
}
.recently-played .recently-played-row .recently-played-item .recently-played-overlay .card-title {
  font-size: 1rem;
}
.recently-played .recently-played-row .recently-played-item .recently-played-overlay .card-text {
  font-size: 0.75rem;
}

.categories {
  margin-top: 5vh;
  font: 100% eightBit;
}
@media (min-width: 992px) {
  .categories .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
.categories .collapse.dont-collapse-md dt {
  margin-top: 2%;
}
@media (max-width: 992px) {
  .categories .collapse.dont-collapse-md dt {
    text-align: center;
  }
}
.categories .collapse.dont-collapse-md dt .categories-img {
  border-radius: 0.25rem;
  max-width: 100%;
}
.categories .collapse.dont-collapse-md dd {
  margin-top: 2%;
}
@media (max-width: 992px) {
  .categories .collapse.dont-collapse-md dd {
    text-align: center;
  }
}

.card {
  flex-direction: inherit;
  border: 0px;
}
.card .card-title {
  font-size: 1.25rem;
}
.card .card-text {
  font-size: 0.75rem;
}

.grow {
  transition: all 0.2s ease-in-out;
  filter: initial;
}

.grow:hover {
  transform: scale(1.2);
  filter: saturate(300%);
}

.shrink {
  transition: all 0.2s ease-in-out;
  filter: initial;
}

.shrink:hover {
  transform: scale(0.9);
  filter: saturate(300%);
}/*# sourceMappingURL=index.css.map */