@import "./global.scss";

$carousel-text-color: #fff;

.carousel{
    @include for-size(phone,down) {
      margin-left: 0; }
    @include for-size(tablet,down) {
      margin-right: 5%; }
    
    .carousel-item {
      font: 100% $font8bit;
      color: $carousel-text-color;
        
        .carousel-overlay{
          top: 75%;
        }
    }
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
      .carousel-item > div {
        @include for-size(tablet,down) {
          display: none; }
      }
      .carousel-item > div:first-child {
        @include for-size(tablet,down) {
          display: block; }
      }
    }
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      @include for-size(tablet,up) {
        transform: translateX(25%);
      }
    }
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      @include for-size(tablet,up) {
        transform: translateX(-25%);
      }
    }  
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
      transform: translateX(0);
    }
}

.recently-played{
  margin-top: 15vh;

  .recently-played-row{
    margin-top: 2vh;

    .card{
      flex-direction: inherit;
      border: 0px;
    }
    .recently-played-item{
      font: 100% $font8bit;
      color: $carousel-text-color;
      .recently-played-img{
        width: fit-content;
      }
      .recently-played-overlay{
        top:60%;
      }
    }
    .shrink { 
      transition: all .2s ease-in-out; 
      filter: initial;
      }
      
      .shrink:hover { 
      transform: scale(0.9); 
      filter: saturate(300%);
      }
  }
}