@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap");
/* Element First Media Queries
========================================================= */
@font-face {
  font-family: eightBit;
  src: url(../media/fonts/EightBitDragon-anqx.ttf);
}
h3 {
  font-family: eightBit;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  background-image: url(../media/img/background2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
}
body section {
  width: 100%;
  height: 100%;
  overflow: inherit;
  position: relative;
  top: 0;
}
body .illustration {
  display: block;
  position: relative;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-5%);
}
@media (min-width: 1200px) {
  body .illustration {
    display: block;
    position: relative;
    width: 10%;
    height: 30%;
  }
}
body .hover {
  width: 100%;
  height: 100%;
  -webkit-animation: hover 5s ease-in-out infinite;
          animation: hover 5s ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-one {
  transform: translateY(-10px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-10 4571ms ease-in-out infinite;
          animation: fadeNumberDown-10 4571ms ease-in-out infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-two {
  transform: translateY(-20px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-20 2899ms ease-in-out infinite;
          animation: fadeNumberDown-20 2899ms ease-in-out infinite;
  -webkit-animation-delay: 3944ms;
          animation-delay: 3944ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-three {
  transform: translateY(-30px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-30 2590ms ease-in-out infinite;
          animation: fadeNumberDown-30 2590ms ease-in-out infinite;
  -webkit-animation-delay: 352ms;
          animation-delay: 352ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-four {
  transform: translateY(-50px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-50 5326ms ease-in-out infinite;
          animation: fadeNumberDown-50 5326ms ease-in-out infinite;
  -webkit-animation-delay: 4122ms;
          animation-delay: 4122ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-five {
  transform: translateY(-60px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-60 3014ms ease-in-out infinite;
          animation: fadeNumberDown-60 3014ms ease-in-out infinite;
  -webkit-animation-delay: 3188ms;
          animation-delay: 3188ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-six {
  transform: translateY(-70px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-70 2850ms ease-in-out infinite;
          animation: fadeNumberDown-70 2850ms ease-in-out infinite;
  -webkit-animation-delay: 1036ms;
          animation-delay: 1036ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-seven {
  transform: translateY(-80px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-80 4213ms ease-in-out infinite;
          animation: fadeNumberDown-80 4213ms ease-in-out infinite;
  -webkit-animation-delay: 2ms;
          animation-delay: 2ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-eight {
  transform: translateY(-90px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-90 5187ms ease-in-out infinite;
          animation: fadeNumberDown-90 5187ms ease-in-out infinite;
  -webkit-animation-delay: 5584ms;
          animation-delay: 5584ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-nine {
  transform: translateY(-100px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-100 3902ms ease-in-out infinite;
          animation: fadeNumberDown-100 3902ms ease-in-out infinite;
  -webkit-animation-delay: 743ms;
          animation-delay: 743ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-ten {
  transform: translateY(-110px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-110 5350ms ease-in-out infinite;
          animation: fadeNumberDown-110 5350ms ease-in-out infinite;
  -webkit-animation-delay: 2013ms;
          animation-delay: 2013ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-eleven {
  transform: translateY(-120px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-120 3516ms ease-in-out infinite;
          animation: fadeNumberDown-120 3516ms ease-in-out infinite;
  -webkit-animation-delay: 2738ms;
          animation-delay: 2738ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-twelve {
  transform: translateY(-150px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-150 4594ms ease-in-out infinite;
          animation: fadeNumberDown-150 4594ms ease-in-out infinite;
  -webkit-animation-delay: 3785ms;
          animation-delay: 3785ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body .number-thirteen {
  transform: translateY(-160px) translateZ(0);
  opacity: 0;
  -webkit-animation: fadeNumberDown-160 3619ms ease-in-out infinite;
          animation: fadeNumberDown-160 3619ms ease-in-out infinite;
  -webkit-animation-delay: 5309ms;
          animation-delay: 5309ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes hover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes hover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeNumberDown-10 {
  0% {
    transform: translateY(-10px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-10 {
  0% {
    transform: translateY(-10px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-20 {
  0% {
    transform: translateY(-20px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-20 {
  0% {
    transform: translateY(-20px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-30 {
  0% {
    transform: translateY(-30px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(130px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-30 {
  0% {
    transform: translateY(-30px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(130px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-50 {
  0% {
    transform: translateY(-50px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-50 {
  0% {
    transform: translateY(-50px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-60 {
  0% {
    transform: translateY(-60px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(90px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-60 {
  0% {
    transform: translateY(-60px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(90px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-70 {
  0% {
    transform: translateY(-70px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-70 {
  0% {
    transform: translateY(-70px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-80 {
  0% {
    transform: translateY(-80px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-80 {
  0% {
    transform: translateY(-80px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-90 {
  0% {
    transform: translateY(-90px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-90 {
  0% {
    transform: translateY(-90px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-100 {
  0% {
    transform: translateY(-100px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-100 {
  0% {
    transform: translateY(-100px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-110 {
  0% {
    transform: translateY(-110px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(30px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-110 {
  0% {
    transform: translateY(-110px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(30px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-120 {
  0% {
    transform: translateY(-120px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(20px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-120 {
  0% {
    transform: translateY(-120px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(20px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-150 {
  0% {
    transform: translateY(-150px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-150 {
  0% {
    transform: translateY(-150px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
@-webkit-keyframes fadeNumberDown-160 {
  0% {
    transform: translateY(-160px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-160 {
  0% {
    transform: translateY(-160px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
body .nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #ffffff;
}
body .lightback {
  display: flex;
  justify-content: center;
  position: relative;
}
body .lightback .place {
  margin-top: 5%;
  width: 80vw;
  height: 77vh;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  position: relative;
}
@media (min-width: 1200px) {
  body .lightback .place {
    height: 65vh;
    width: 60vw;
    margin-top: 5%;
  }
}
body .lightback .place .input-login {
  background-color: #0C1115;
  position: relative;
  color: #ffffff;
}
body .lightback .place .login {
  background-color: #C42177;
  position: relative;
}
body .lightback .place .login a:visited {
  color: #ffffff;
}
body .lightback .place .remember {
  display: flex;
  justify-content: space-between;
  position: relative;
}
body .lightback .place .remember .remember-check {
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
}
@media (min-width: 1200px) {
  body .lightback .place .remember .remember-check {
    width: 12vw;
  }
}
body .lightback .place .remember h6 {
  text-align: center;
  position: relative;
}
body .lightback .place .signup {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  align-self: center;
  background-color: #C42177;
}

.framefooter {
  width: 90vw;
  position: relative;
}
@media (min-width: 1200px) {
  .framefooter {
    font-size: 20px;
  }
}

.input-login:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}/*# sourceMappingURL=login.css.map */