
@import "./global.scss";/* importa los estilos definidos en dicho anchor*/
:root{
    color-scheme: light dark;
  }
  
  body{
    background-color: var(--background-color);
    color: black;
  }

* {
    box-sizing: border-box;
    margin: 0;
    /*caracteristicas generales de la pagina*/
}


.Parte1 {/*caracteriticas personalizadas de esta parte del bloque*/
    margin-top: 0.8cm;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .col-12 {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-around;

        .Avatar {
            border: 4px solid blueviolet;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

    }

    .Decoracion {
        align-items: center;
        width: 80%;
        border: 2px solid black;
        margin-bottom: 0.5cm;
    }

    .container3 {/*Este contenedor tiene imagenes, pero no se despliegan por el media query que empieza a partir de los 768px*/
        display: none;
    }

}

.Parte2 {/* La parte dos se basa en dos columnas y un contenedor. primero tienen las caracteristicas generales de el contenedor padre. y despues de se personalizan cada parte*/
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .PersonalInfo {
        width: 100%;
        height: 30vh;
        margin-top: 1cm;
        border: 5px solid palevioletred;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .Info {
            margin: 0.1cm;
        }
        .Title {
            margin: 0.2cm;
        }
    }


    .FavoriteGames {
        margin-top: 2cm;
        width: 100%;
        height: 42vh;
        border: 5px solid palevioletred;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .Games {
            margin: 0.1cm
        }

        .Title {
            margin: 0.2cm;
        }

    }



    .Parte3 {/*contenedor donde se agrupan los iconos*/
        width: 100%;
        margin: 2cm;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        .Trophy {

            width: 80%;
            height: 20vh;
           
        }

        .Control {

            width: 80%;
            height: 20vh;
            
        }

        .Gift {

            width: 80%;
            height: 20vh;
            
        }

    }
}



.Parte4 {/* al igual que en la parte 1, las imagenes de este contenedor no se veran hasta que se expanda la ventana mas de 768px*/
    display: none;
}



.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
}

@media (min-width: 768px) and (max-width: 1800px) {/*Media query dando informacion del breakpoint de la pagina*/

   
    .Parte1 {/*Nueva personalizacion para un nuevo layout de la pagina*/
        margin-top: 1cm;
        margin-bottom: 1cm;
        width: 100%;
        display: flex;
        flex-direction: wrap;/*Ahora en vez de columnas el flex direction tiene la propiedad wrap, asi acopla todos los elementos de ese contenedor a la pantalla*/
        justify-content: space-around;

        .col-12 {
            width: 100%;
            height: 20vh;
            display: flex;
            flex-direction: row;
            align-items: left;
            justify-content: left;

            .Avatar {
                border: 4px solid blueviolet;
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }


        }

        .container3 {/*Ahora este contenedor si tiene propieddades para que se puedan ver las imagenes*/
            width: 100%;
            display: flex;
            flex-direction: row;/*despliega todo en horizontal*/
            justify-content: center;
            align-items: center;
            font-family: eightBit;
            margin-bottom: 2cm;
            margin-top: 2cm;

        }

        .Decoracion {
            display: none;
        }

    }

    .Parte2 {
        margin-top: 1cm;
        margin-bottom: 3cm;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin-bottom: 2cm;



        .PersonalInfo {
            width: 100%;
            height: 45vh;
            border: 5px solid palevioletred;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .Info {
                justify-content: center;
                align-items: center;
                margin: 0.1cm;
            }

            .Title {
               
                margin: 0.2cm;
            }

        }



        .FavoriteGames {
            width: 100%;
            height: 60vh;
            border: 5px solid palevioletred;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .Games {
                margin: 0.1cm
            }

            .Title {
               
                margin: 0.2cm;
            }

        }

        .Parte3 {
            width: 100%;
            border: 5px solid palevioletred;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1cm;

            .Trophy {

                width: 100%;
                height: 20vh;
               
            }

            .Control {

                width: 100%;
                height: 20vh;
                
            }

            .Gift {

                width: 100%;
                height: 20vh;
               
            }

        }

    }

    .Parte4 {/* segundas imagenes*/
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: row;
        font-family: eightBit;
    }


    
}

.framefooter {
    width: 90vw;
    position: relative;

    @media (min-width:1200px) {
        font-size: 20px;
    }
}
