<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/b94590e6c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div role="main" class="container footer">
        <div class="row word">
            
                <div class="col-4 words">
                    <h4>Contact Info</h4>
                    <div class="words-contact">
                        <img src="../media/icons/localizacion.png" alt="" class="words-contact-icons">
                        <span>Av. Bogatell 82 - Bcna</span>
                    </div>
                    <div class="words-contact">
                        <img src="../media/icons/email.png" alt="" class="words-contact-icons">
                        <span>tributeweb@factoriaf5.org</span>
                    </div>
                    <div class="words-contact">
                        <img src="../media/icons/llamada-telefonica.png" alt="" class="words-contact-icons">
                        <span>+34 670 555 569</span>
                    </div>
                </div>

                <div class="col-4 words">
                    <h4>Value Links</h4>
                    <span>Terms & Conditions</span>
                    <span>Privacy Policy</span>
                    <span>Article Details</span>
                </div>

                <div class="col-4 imgsocials">
                    <i class="fa-brands fa-facebook"></i></a>
                        <a><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://github.com/adriansunye/WebTributo" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a><i class="fa-brands fa-twitch"></i></a>
                        <a><i class="fa-brands fa-square-instagram"></i></a>
                </div>
            
        </div>

        <div class="row copyright">
            <hr>
            <span class="copyright2">Copyright C 2022 Tributeweb - All rights reserved</span>
        </div>

    </div>
</body>
</html>