<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="adrian.sunye">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Web Tributo - Profile</title>
    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Place your stylesheet here-->
    <link href="../css/navbar.css" rel="stylesheet" type="text/css">
    <link href="../css/global.css" rel="stylesheet" type="text/css">
    <link href="../css/detail.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" >Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link"  href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile.html">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/aboutUs.html">About Us</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Detail</a></li>
            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login.html">LogOut</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>

<main role="main" class="container">

    <div class="row mt-5">
        <div class="col-xl-4">
            <div class="profilefriend-header">
                <img src="/media/img/descarga.jfif" alt="mr.dave">
            </div>
        </div> 
        <div class="col-xl-4">
            <div class="profilefriend-header-nick">
                <i class="fas fa-ring">Mr. Dave</i>
            </div>
            <div class="profilefriend-header-info">
                <i class="fas fa-infinity">Barcelona, Cataluña, España</i>
            </div>
            <div class="profilefriend-header-lvl">
                <p>Old school</p>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="level">
                <div class="lvl">
                    <p>Level 12</p>
                </div>
                <div class="xp">
                    <img src="/media/img/lvl.png" alt="level" style="float:left; width:100px">
                    <p>Años de servicio</p>
                    <p>950 exp</p>
                </div>
                <div class="barra">
                    <i class="far fa-comment">Enviar un mensaje</i>
                    
                </div>
            </div>
        </div>
        <div class="favorite-games">
            <h1>Juegos Jugados</h1>
        </div>
        <div class="col-xl-9">
            <div class="games-favorite-games">
                <h2>Juego Favorito</h2>
                <img src="/media/img/counter.jpg" alt="cs" style="float:left">
                <p>Counter-Strike: Global Offensive</p>
            <div class="row mt-5">
                <div class="col-xl-6">
                    <div class="timing">
                            <p>425</p>
                            <p>Horas jugadas</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="time-text">                    
                            <p>78</p>
                            <p>Logros</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-6">
                    <i class="fas fa-medal">Chicken Chaser</i>
                    <p>100xp</p> 
                </div>
                <div class="col-xl-6">
                    <i class="fas fa-trophy">Logros</i>
                    <div class="card">
                        <div class="counterstrike">
                            <img src="/media/img/cs1.jpg" style="width:40px">
                            <img src="/media/img/cs2.jpg" style="width:40px">
                            <img src="/media/img/cs3.jpg" style="width:40px">
                            <img src="/media/img/cs4.jpg" style="width:40px">
                            <img src="/media/img/cs5.jpg" style="width:40px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="games-favorite-games">
                <h2>Actividad Reciente</h2>
                <img src="/media/img/tww3.jpg" alt="tww" 
                style="width:184px; height:69px; float:left">
                <p>Total War Warhammer 3</p>
            </div>
            <div class="row mt-5">
                <div class="col-xl-6">
                    <div class="timing">
                            <p>137</p>
                            <p>Horas jugadas</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="time-text">                    
                            <p>15</p>
                            <p>Logros</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-6">
                    <i class="fas fa-medal">Teniente</i>
                    <p>350xp</p> 
                </div>
                <div class="col-xl-6">
                    <i class="fas fa-trophy">Logros</i>
                    <div class="card">
                        <div class="warhammer3">
                            <img src="/media/img/war1.jpg" style="width:40px">
                            <img src="/media/img/war2.jpg" style="width:40px">
                            <img src="/media/img/war3.jpg" style="width:40px">
                            <img src="/media/img/war4.jpg" style="width:40px">
                            <img src="/media/img/war5.jpg" style="width:40px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="games-favorite-games">
                <img src="/media/img/stray.jpg" alt="tww" 
                style="width:184px; height:69px; float:left">
                <p>Stray</p>
            </div>
            <div class="row mt-5">
                <div class="col-xl-6">
                    <div class="timing">
                            <p>201</p>
                            <p>Horas jugadas</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="time-text">                    
                            <p>27</p>
                            <p>Logros</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-6">
                    <i class="fas fa-medal">Gatitis</i>
                    <p>90xp</p> 
                </div>
                <div class="col-xl-6">
                    <i class="fas fa-trophy">Logros</i>
                    <div class="card">
                        <div class="stray">
                            <img src="/media/img/st1.jpg" style="width:40px">
                            <img src="/media/img/st2.jpg" style="width:40px">
                            <img src="/media/img/st3.jpg" style="width:40px">
                            <img src="/media/img/st4.jpg" style="width:40px">
                            <img src="/media/img/st5.jpg" style="width:40px">
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xl-3">
          <div class="card">
            <div class="info-in-game">
                <h4>Sin conexión</h4>
                <p>Última conexión: hace 1 día</p>
                <div class="insignias">
                    <img src="/media/img/wt1.png" style="width:40px">
                    <img src="/media/img/wt2.png">
                    <img src="/media/img/wt3.png">
                    <img src="/media/img/lvl.png" style="width: 60px;">
                </div>
                <h5>Juegos</h5>
                <p>30</p>
                <h5>Inventario</h5>
                <p>0</p>
                <h5>Reseñas</h5>
                <p>1</p>
            </div>
            <div class="more-info">
                <h5>Grupos</h5>
                <div class="group1">
                    <i class="fas fa-hippo">MehehechounesguinceTeam</i>4 miembros
                </div>
                <div class="group2">
                    <i class="fas fa-bug">QuesestoTeam</i>6 miembros
                </div>
                <div class="friends-info">
                    <h5>Amigos</h5>
                    <p>60</p>
                </div>
                <div class="friends">
                    <img src="/media/img/descarga (1).jfif" style="width:40px">
                    <img src="/media/img/descarga (2).jfif" style="width:40px">
                    <img src="/media/img/descarga (3).jfif" style="width:40px">
                </div>

                
            </div>
          </div>
        </div>

    </div>
    